<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="simpleUrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
       <property name="mappings">
           <props>
               <prop key="/userlist.do">userController</prop>
           </props>
       </property>
   </bean>


    <bean id="userController" class="com.carrey.demo.controller.UserController"/>

    <bean id = "carreyConfig" class="com.carrey.demo.config.CarreyConfig"/>

    <bean id = "org.springframework.context.annotation.internalConfigurationAnnotationProcessor" class="org.springframework.context.annotation.ConfigurationClassPostProcessor"/>
</beans>